<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Submitted Information</h1>
    <p>Name: <%= user_data.Name %></p>
    <p>Dojo Location: <%= user_data.Dojo_Location %></p>
    <p>Favorite Language: <%= user_data.Favorite_Language %></p>
    <p>Comment: <%= user_data.Comment %></p>
    <a href ="/"><input type ='submit' value="Back"></a>
  </body>
</html>
